body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 400px;
    text-align: center;
    color:black;
    padding-left: 1px;
}

 
h2 {
    width: 200px;
    text-align: center;
    font-size: small;
    color: blue;
    padding-left: 1px;
} 

.main{
    list-style: none;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: rgb(0, 55, 255);
    border-radius: 10px;
    width: 400px;
    overflow: auto;
}

.main li{
    font-size: 18px;
    line-height: 2.4em;
    border-bottom: dotted 1px;
    }

.main li:last-child{
    border: none;
}

.main li a{
    text-decoration: none;
    color: white;
}

.main li a:hover{
    background-color: aqua;
    color: black;
}

.footer{
    width:400px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}
